build/
buildPlace/
lib/
obj/
bin/
obscure_files/
obsolete/
unused/
.*
*.o
*.log
*.pyc
__pycache__
# !.gitmodules
makefile_
NOTES

# The next few lines are files that are local working files
# MixMaxSearch*
# results/*
