doc/html/
build/
lib/
obj/
bin/
obscure_files/
obsolete/
unused/
.*
*.o
*.res
*.log
!.gitignore
!.gitmodules
waf
makefile_
NOTES

# The next few lines are files that are local working files
MixMaxSearch*
results/*
