build/
buildPlace/
lib/
obj/
bin/
obscure_files/
obsolete/
unused/
data/*
.*
*.o
*.res
*.log
*.pyc
__pycache__
version*
doc/html
!.gitignore
!.gitmodules
makefile_
NOTES

# The next few lines are files that are local working files
MixMaxSearch*
results/*
